body
{
    background-color: #f4f4f4;
}

header
{
    background-color: rgb(255, 74, 74);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.info
{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    color: white;
}

nav
{
    margin-top: 10px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li
{
    margin: 0 15px;
}

nav ul li a
{
    color: white;
    text-decoration: none;
}

main
{
    display: inline-block;
    padding: 20px;
}

#one
{
    width: 63%;
    height: 70%;
    float: left;
    text-align: center;
    position: relative;
    left: 4px;
}

#history
{
    width: 15%;
    height: 3218px;
    float: left;
}

#player 
{
    width: 15%;
    height: 3218px;
    float: right;
}

#two
{
    width: 63%;
    height: 70%;
    float: left;
    text-align: center;
    position: relative;
    left: 4px;
    top : 5px;
}

section
{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#three
{
    width: 63%;
    height: 70%;
    float: left;
    text-align: center;
    position: relative;
    left: 4px;
    top : 10px;
}

#four
{
    width: 63%;
    height: 70%;
    float: left;
    text-align: center;
    position: relative;
    left: 4px;
    top : 15px;
}

#five
{
    width: 63%;
    height: 70%;
    float: left;
    text-align: center;
    position: relative;
    left: 4px;
    top : 20px;
}

.championship
{
    margin-bottom: 20px;
}

.championship-photo
{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.player
{
    margin-bottom: 20px;
}

.player-photo
{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.SKT2015
{
    height: 400px;
    width: 800px;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

.SKT2017
{
    height: 400px;
    width: 800px;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

.SKT2021
{
    height: 400px;
    width: 800px;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

.redbull
{
    height: 400px;
    width: 800px;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

footer
{
    background-color: rgb(255, 74, 74);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

button
{
    padding: 10px 20px;
    font-size: 15px;
    background-color: rgb(255, 74, 74);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover
{
    background-color: rgb(255, 32, 32);
}
